In [1]:
# Import libraries
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
# Import data
df =  pd.read_csv("everest.csv", low_memory=False)
df

,expid,membid,peakid,myear,mseason,fname,lname,sex,age,birthdate,...,totmembers,smtmembers,mdeaths,tothired,nohired,smthired,hdeaths,bcdate,pkname,heightm
0,EVER88401,15,EVER,1988,4,Maurits,Vreudge,M,0,- -,...,17,0,0,10,False,0,1,10/11/1988,Everest,8849
1,EVER88401,13,EVER,1988,4,Christa,Van Schaerdenburg,F,0,- -,...,17,0,0,10,False,0,1,10/11/1988,Everest,8849
2,EVER88401,14,EVER,1988,4,Rudy,Van Snick,M,0,- -,...,17,0,0,10,False,0,1,10/11/1988,Everest,8849
3,EVER88401,19,EVER,1988,4,Ang Rita,Sherpa,M,0,- -,...,17,0,0,10,False,0,1,10/11/1988,Everest,8849
4,EVER88401,20,EVER,1988,4,Lhakpa Dorje (Ang Lhakpa),Sherpa,M,0,- -,...,17,0,0,10,False,0,1,10/11/1988,Everest,8849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21896,EVER20103,10,EVER,2020,1,Tai-Gang,Huang,M,0,- -,...,20,14,0,22,False,21,0,23/04/2020,Everest,8849
21897,EVER20103,11,EVER,2020,1,Wei,Li,M,0,- -,...,20,14,0,22,False,21,0,23/04/2020,Everest,8849
21898,EVER20103,9,EVER,2020,1,Hong-Zhi,Hu,M,0,- -,...,20,14,0,22,False,21,0,23/04/2020,Everest,8849
21899,EVER20103,12,EVER,2020,1,Xiao-Lin,Li,M,0,- -,...,20,14,0,22,False,21,0,23/04/2020,Everest,8849
21900,EVER20103,8,EVER,2020,1,Cheng-Jie,Hu,M,0,- -,...,20,14,0,22,False,21,0,23/04/2020,Everest,8849

### Definitions

<b>expid</b> - Expedition id 

<b>membid</b> - Member id

<b>*NOTE:*</b> - Individua record id is compound key of expedition id + member id

-----

<b>bconly</b> - BC / Advanced BC only (Y/N) if yes, The member did not climb above base camp (or advanced
base camp in cases where the path from base camp does not require technical climbing skills) 
  
<b>nottobc</b> - Not to base camp (Y/N) if yes, The member did not reach base camp

<b>hired</b> - The person was hired by the expedition

<b>msolo</b> - Solo (Y/N)

<b>sherpa</b> - Sherpa (Y/N) 

<b>tibetan</b> - Tibetan (Y/N)

<b>mhighpt</b> - Expedition high-point reached (Y/N)

<b>mperhighpt</b> - Personal high-point (m)

<b>msmdate1</b> - 1st summit / high-point date

<b>msmdate2</b> - 2nd summit date

<b>msmdate3</b> - 3rd summit date

<b>mroute1</b> - 1st ascent route

<b>mroute2</b> - 2nd ascent route

<b>mroute3</b> - 3rd ascent route

<b>mo2used</b> - Oxygen used (Y/N)

<b>mo2none</b> - Oxygen not used (Y/N)

<b>deathhgtm</b> - Death Height (m)

<b>msmtbid</b> - Summit Bid:
```
0 – Unspecified
1 – No summit bid
2 – Aborted below high camp
3 – Aborted at high camp
4 – Aborted above high camp
5 – Successful summit bid
```
<b>nohired</b> - No hired personnel used (above BC)

<b>stdrte</b> - 8000m standard route (Y/N)

In [3]:
# Select the required columns 
filtered_df = df[['expid', 'membid', 'myear', 'fname', 'lname', 'sex', 'calcage', 'citizen', 'occupation', 'sherpa', 
                  'tibetan', 'msolo', 'msuccess', 'mhighpt', 'mperhighpt', 'msmtdate1', 'msmtdate2', 'msmtdate3', 
                  'msmttime1', 'msmttime2', 'msmttime3', 'bconly', 'nottobc', 'route1', 'route2', 'route3', 
                  'route4', 'mo2used', 'mo2none', 'mo2climb', 'mo2descent', 'mo2sleep', 'death', 'deathdate', 
                  'deathhgtm', 'msmtbid', 'nohired', 'hired', 'stdrte']]
filtered_df

,expid,membid,myear,fname,lname,sex,calcage,citizen,occupation,sherpa,...,mo2climb,mo2descent,mo2sleep,death,deathdate,deathhgtm,msmtbid,nohired,hired,stdrte
0,EVER88401,15,1988,Maurits,Vreudge,M,49,Belgium,Physician,False,...,False,False,False,False,- -,0,1,False,False,True
1,EVER88401,13,1988,Christa,Van Schaerdenburg,F,30,Netherlands,Physician,False,...,False,False,False,False,- -,0,1,False,False,True
2,EVER88401,14,1988,Rudy,Van Snick,M,32,Belgium,"Furniture maker, cabinet maker & artisan",False,...,True,False,True,False,- -,0,4,False,False,True
3,EVER88401,19,1988,Ang Rita,Sherpa,M,40,Nepal,High-altitude porter,True,...,False,False,False,False,- -,0,4,False,True,True
4,EVER88401,20,1988,Lhakpa Dorje (Ang Lhakpa),Sherpa,M,29,Nepal,NaN,True,...,True,False,True,True,23/12/1988,8700,4,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21896,EVER20103,10,2020,Tai-Gang,Huang,M,47,China,NaN,False,...,True,False,False,False,- -,0,1,False,False,True
21897,EVER20103,11,2020,Wei,Li,M,0,China,NaN,False,...,True,False,True,False,- -,0,5,False,False,True
21898,EVER20103,9,2020,Hong-Zhi,Hu,M,57,China,NaN,False,...,True,False,True,False,- -,0,5,False,False,True
21899,EVER20103,12,2020,Xiao-Lin,Li,M,35,China,NaN,False,...,True,False,True,False,- -,0,5,False,False,True
21900,EVER20103,8,2020,Cheng-Jie,Hu,M,0,China,NaN,False,...,True,False,True,False,- -,0,5,False,False,True

In [4]:
for index, row in filtered_df.iterrows():
    if row['msmtdate1'] == '  -   -':
        filtered_df.loc[index,'msmtdate1'] = 'nan'
    if row['msmtdate2'] == '  -   -':
        filtered_df.loc[index,'msmtdate2'] = 'nan'
    if row['msmtdate3'] == '  -   -':
        filtered_df.loc[index,'msmtdate3'] = 'nan'
    if row['deathdate'] == '  -   -':
        filtered_df.loc[index,'deathdate'] = 'nan'

In [5]:
# Remove any missing items from the routes column
filtered_df = filtered_df[filtered_df['route1'].isnull() != True]

In [6]:
# Organise the route names to either 'northern', 'southern', or 'other' routes
for index, row in filtered_df.iterrows():
    if ('Col-N' in row['route1']) or ('N Col' in row['route1']) or ('N Face' in row['route1']) or \
       ('from N' in row['route1']) or ('NE Ridge' in row['route1']) or ('N Ridge' in row['route1']) or\
       ('E Ridge' in row['route1']) or ('N side' in row['route1']):
        filtered_df.loc[index,'new_route'] = 'North'
    if ('Col-S' in row['route1']) or ('S Col' in row['route1']) or ('S Face' in row['route1']) or \
       ('from S' in row['route1']) or ('SW Face' in row['route1']) or ('Geneva' in row['route1']) or \
       ('SE Ridge' in row['route1']) or ('S side' in row['route1']):
        filtered_df.loc[index,'new_route'] = 'South'
    if ('Lho' in row['route1']) or ('Lho' in row['route1']) or ('S Pillar' in row['route1']) or \
       ('SW' in row['route1']) or ('Hornbein ' in row['route1']) or ('E Face' in row['route1']) or \
       ('W Ridge' in row['route1']) or ('E sides' in row['route1']) or ('Khumbu' in row['route1']) or \
        ('S Couloir' in row['route1']) :
        filtered_df.loc[index,'new_route'] = 'Other'

In [7]:
print(f"Northern route: {len(filtered_df[filtered_df['new_route'] == 'North'])}")
print(f"Southern route: {len(filtered_df[filtered_df['new_route'] == 'South'])}")
print(f"Other routes: {len(filtered_df[filtered_df['new_route'] == 'Other'])}")

Northern route: 7887
Southern route: 12282
Other routes: 1532

In [8]:
# Export the file to csv
filtered_df.to_csv('clean_data.csv', index=False)

### Load

In [16]:
from sqlalchemy import create_engine

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect

from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [17]:
# Import password from config file
from config import password

# Establish database connection
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Everest_db')
conn = engine.connect()

In [22]:
filtered_df['msmtdate1'].dtype

dtype('O')

In [19]:
class Everest(Base):
    __tablename__ = 'everest'
    expid = Column(Integer, primary_key=True)
    membid = Column(Integer, primary_key=True)
    myear = Column(Integer)
    fname = Column(String)
    lname = Column(String)
    sex = Column(String)
    calcage = Column(Integer)
    citizen = Column(String)
    occupation = Column(String)
    sherpa = Column(String)
    tibetan = Column(String)
    msolo = Column(String)
    msuccess = Column(String)
    mhighpt = Column(String)
    mperhighpt = Column(Integer)
    msmtdate1 = Column(Integer)
    msmtdate2 = Column(String)
    msmtdate3 = Column(String)
    msmttime1 = Column(String)
    msmttime2 = Column(String)
    msmttime3 = Column(String)
    bconly = Column(String)
    nottobc = Column(String)
    route1 = Column(String)
    route2 = Column(String)
    route3 = Column(String)
    route4 = Column(String)
    mo2used = Column(String)
    mo2none = Column(String)
    mo2climb = Column(String)
    mo2descent = Column(String)
    mo2sleep = Column(String)
    death = Column(String)
    deathdate = Column(String)
    deathhgtm = Column(Integer)
    msmtbid = Column(Integer)
    nohired = Column(String)
    hired = Column(String)
    stdrte = Column(String)
    new_route = Column(String)

In [23]:
# Create the tables within the database
Base.metadata.create_all(engine)
filtered_df.to_sql('everest', engine, if_exists="replace", index=False)